<div class="fixed-top" id="progressvar" [style]='visible'><mat-progress-bar mode="indeterminate"></mat-progress-bar></div>

<p class="text-center mb-4">Nos alegra que hayas vuelto!</p>

<form class="example-form" [formGroup]="form" (ngSubmit)="onSubmit()">
<div class="row">
<mat-form-field appearance="outline">
    <mat-label>Correo</mat-label>
    <input matInput placeholder="usuario@gmail.com" formControlName="email">
  </mat-form-field>
</div>
  <div class="row">
  <mat-form-field appearance="outline">
    <mat-label>Contraseña</mat-label>
    <input type="password" matInput formControlName="password">
  </mat-form-field>
</div>
<div class="row">
    <button mat-raised-button color="primary">Iniciar sesión</button>
</div>
<div class="row mt-3 text-center">
  <h6>Olvide mi contraseña</h6>
</div>
</form>
<div class="alerta alert alert-danger" [style]='alertanegativa' role="alert">
  Usuario o contraseña invalida
</div>
