.reserva {
  position: fixed;
  top: 0;
  left: 50%;
  bottom: 0;
  right: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: all ease-out 0.5s;
  transform: translateX(100%);
  &.active {
    transform: translateX(0);
  }
}
.reservar-btn {
  background-color: #a53dff;
}
.banner {
  height: 200px;
  object-fit: cover;
  width: 100%;
}

.profile {
  border-radius: 50%;
  outline: 8px solid #a53dff;
  object-fit: cover;
  width: 13em;
  height: 13em;
  // position: relative;
}
.description {
  text-align: justify;
}
.close {
  width: 200px;
}
@media screen and (max-width: 40em) {
  .reserva {
    position: fixed;
    top: 0;
    left: 0%;
    bottom: 0;
    right: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: all ease-out 0.5s;
    transform: translateX(100%);
    &.active {
      transform: translateX(0);
    }
  }
}
