<!-- <div class="banner1 d-flex justify-content-center border">
        <img class="rounded" src="https://a0.muscache.com/im/pictures/8d7970be-b461-4c64-8b25-3f0381381070.jpg?im_w=1200" alt="">
    </div> -->
    <div class="container">
        <div class="row">
            <div class="col-7">
    
                <div class="principal d-flex justify-content-center p-4">
                    <div class="row w-100">
    
    
                        <div class="seccion1">
    
                            <h2 class="m-0"> Profesional - Profesional </h2>
                            <h4> Detalles - Detalles </h4>
                            <hr>
    
    
                        </div>
                        <div class="seccion2">
    
                            <p>Corina tiene la categoría de Superanfitrión
                                Los Superanfitriones tienen mucha experiencia, cuentan con valoraciones excelentes y se
                                esfuerzan al máximo para ofrecerles a los huéspedes estadías maravillosas.
                                Ubicación fantástica
                                El 100% de los últimos huéspedes han valorado con 5 estrellas la ubicación.
                                ¡Fascinante experiencia de llegada!
                                El 100 % de los últimos huéspedes han valorado con 5 estrellas el proceso de llegada.</p>
    
                            <hr>
                        </div>
                        <div class="seccion3">
                            hola
    
                        </div>
                    </div>
                </div>
    
            </div>
            <div class="col-5 p-4">
    
                <div class="carrito rounded p-2">
    
                    <h2 class="text-end"> Servicios: </h2>
    
                    <h4 class="text-end"> Servicio1 - Servicio1 </h4>
                    <h4 class="text-end"> Servicio1 - Servicio1 </h4>
                    <h4 class="text-end"> Servicio1 - Servicio1 </h4>
                    <h4 class="text-end"> Servicio1 - Servicio1 </h4>
    
                    <!-- <mat-form-field appearance="fill">
                        <mat-label>Choose a date</mat-label>
                        <input matInput [matDatepicker]="picker">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field> -->
    
    
    
                    <button type="button" class="btn btn-primary w-100">Reservar</button>
                </div>
            </div>
        </div>
    </div>