.carrito {
  max-width: 350px;
}

.container {
  width: 1400px;
}

.bg-img {
  max-height: 300px;
  margin-bottom: 150px;
  margin-top: -40px;
}
.bg-img img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.p-info-all {
  position: absolute;
  translate: 20px 130%;
}

.profilep {
  border-radius: 50%;
  outline: 8px solid rgb(236, 236, 236);
  border-left: 50px !important;
  object-fit: cover;
}

.info-count {
  margin-top: 0px;
}

h1 {
  font-size: 40px;
}

h3 {
  font-size: 20px;
}
