<body class="fondogradient ">
    <div class="maincontent">
        <div class="container">
            <header class="d-flex menures bg-white  align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom shadow-lg border rounded px-3 flex-wrap">
                <a href="/" class="logo d-flex align-items-center col-md-3 text-dark text-decoration-none ">
                    <img class="bi me-2 bemelly" height="40" role="img" src="/assets/bemelly.svg" alt="">
                </a>

                <div class="col-md-3 text-end botones d-flex gap-2">
                    <button type="button" class="btn btn-outline-primary textwhitehover" (click)="iniciarSesion()">Iniciar sesión</button>
                    <button type="button" class="btn btn-primary text-white" (click)="registrarse()">Registrarse</button>
                </div>
            </header>
        </div>
    </div>
    <div class="landbaner  d-flex flex-wrap container-md justify-content-around bg-light bg-opacity-25 rounded-5 ">
        <div class="leftside fontpoppins col  d-flex align-items-start flex-column">
            <span class="welcome ">Bienvenido a la nueva manera de consentirte</span>
            <span class="mb-3 softext">Una apliacion creada pensando en ayudarte a encontrar al profesional ó lugar
                donde quieres mejorar tu estilo</span>
            <div class="d-flex flex-wrap flex-column gap-4">
                <div class="staticsbemelly d-flex flex-wrap">
                    <div class="ctdor d-flex flex-column justify-content-evenly">
                        <div class="ctdnumber">50</div>
                        <div class="ctddesc">Profesionales</div>
                    </div>
                    <div class="ctdor d-flex flex-column justify-content-evenly">
                        <div class="ctdnumber">250+</div>
                        <div class="ctddesc">Establecimientos</div>
                    </div>
                    <div class="ctdor d-flex flex-column justify-content-evenly">
                        <div class="ctdnumber">+1000</div>
                        <div class="ctddesc">Clientes registrados</div>
                    </div>
                </div>

            </div>

        </div>
        <div class="rightside col container-fluid ">
            <!-- <div class="logotiendas">
                <div class="tiendas d-flex flex-column">
                    <img class="storebadge" src="/assets/home/imgs/badge-apple.png" alt="">
                    <img class="storebadge" src="/assets/home/imgs/badge-google.png" alt="">
                </div>
            </div>

            <img class="wildyspointer" src="/assets/home/imgs/wildyslomelly.png" alt=""> -->
        </div>
    </div>
    <div class="scrollingbody  shadow gradientbgmain border rounded-5 container-xxl">
        <img class="wildyspointer" src="/assets/home/imgs/wildyslomelly_op_a.png" alt="">
        <div class="logotiendas">
            <div class="d-flex flex-column">
                <img class="storebadge" src="/assets/home/imgs/badge-apple.png" alt="">
                <img class="storebadge" src="/assets/home/imgs/badge-google.png" alt="">
            </div>
        </div>
        <div class="content pt-5">
            <div class="fila1 text-center">
                <h1 class="fontpoppins">Todo lo que necesitas en un solo lugar</h1>
                <div class="tarjetas d-flex gap-4 flex-column ">

                    <div class="d-flex flex-wrap justify-content-center gap-4 mt-5">
                        <img src="/assets/home/imgs/cards/cardstyle_01.jpg" class="card-img-top rounded cardhome rounded-4"
                            alt="...">
                        <img src="/assets/home/imgs/cards/cardstyle_05.jpg" class="card-img-top rounded cardhome rounded-4"
                            alt="...">
                        <img src="/assets/home/imgs/cards/cardstyle_02.jpg" class="card-img-top rounded cardhome rounded-4"
                            alt="...">
                    </div>
                    <div class="d-flex flex-wrap justify-content-center gap-4 mb-5"> <img
                            src="/assets/home/imgs/cards/cardstyle_06.jpg" class="card-img-top rounded cardhome rounded-4"
                            alt="...">
                        <img src="/assets/home/imgs/cards/cardstyle_03.jpg" class="card-img-top rounded cardhome rounded-4"
                            alt="...">
                        <img src="/assets/home/imgs/cards/cardstyle_04.jpg" class="card-img-top rounded cardhome rounded-4"
                            alt="...">
                    </div>
                </div>

            </div>
            <div class="fila2 fontpoppins pt-5 rounded-bottom">
                <div class="container-md d-flex flex-wrap">
                    <div class="leftside fontpoppins col d-flex flex-wrap gap-5 infobox">
                        <div class="d-flex flex-column my-5 gap-5">
                            <div class="cardwhite d-flex flex-column justify-content-center gap-4 text-center">
                                <div class="">
                                    <h1 style="color: #4C40F7;"><b>+10K</b></h1>
                                </div>
                                <div class="ctddesc">Fieles Clientes</div>
                            </div>
                            <div class="cardwhite d-flex flex-column justify-content-center gap-4 text-center">
                                <div class="">
                                    <h1 style="color: #FF2D59;"><b>+1M</b></h1>
                                </div>
                                <div class="ctddesc">Servicios tomados</div>
                            </div>
                        </div>
                        <div class="d-flex flex-column my-1 gap-5 ">
                            <div class="cardwhite d-flex flex-column justify-content-center gap-4 text-center">
                                <div class="">
                                    <h1 style="color: #FF6800;"><b>+1K</b></h1>
                                </div>
                                <div class="ctddesc mx-3">Profesionales y empresas ofreciendo sus servicios</div>
                            </div>
                            <div class="cardwhite d-flex flex-column justify-content-center gap-4 text-center">
                                <div class="">
                                    <h1 style="color: #4ADB61;"><b>2</b></h1>
                                </div>
                                <div class="ctddesc mx-3">Ciudades donde operamos en Colombia</div>
                            </div>
                        </div>
                    </div>
                    <div class="rightside col mt-5">
                        <h1 class="mt-5">Tu satisfacción es nuestra primera prioridad</h1>
                        <p class="mt-4 fontpoppins">Bemelly es una aplicación creada pensando en el cuidado personal de
                            cada ser humano donde conectamos profesionales y empresas del área con personas como tu que
                            buscan a quien confiar su cuidado personal</p>
                        <div>
                            <ul class="gap-5">
                                <li class="list-group-item"><i class="fa-solid fa-circle-check me-3 mt-5"></i> Reseñas
                                    sobre tratamientos, empresas y profesionales</li>
                                <li class="list-group-item"><i class="fa-solid fa-circle-check me-3 mt-3"></i>
                                    Profesionales altamente calificados</li>
                                <li class="list-group-item"><i class="fa-solid fa-circle-check me-3 mt-3"></i> Servicios
                                    24/7 siempre a tu alcance</li>
                                <li class="list-group-item"><i class="fa-solid fa-circle-check me-3 mt-3"></i> Sistema
                                    de control de reservas</li>
                                <li class="list-group-item"><i class="fa-solid fa-circle-check me-3 mt-3"></i> Acceso a
                                    sistema de pago electronicos</li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="fila4 text-center my-5">
                <span class="my-5 "> <b>Reseñas</b> </span>
                <h1>Algunos de los comentarios de nuestros usuarios</h1>
                <div class="rvuser d-flex flex-column gap-3 mt-5 pt-5">
                    <div class="d-flex flex-wrap justify-content-around container-md">
                        <!-- TARJETA REVIEW START -->
                        <div class="rv-box ">
                            <div class="rv-body shadow-lg rounded-4">
                                <div class="rv-img"><img src="/assets/home/imgs/usrsrv/usrjony.png" alt=""></div>
                                <div
                                    class="d-flex fontpoppins justify-content-center flex-column justify-content-center py-5 mx-3">
                                    <h4 class="pt-5">Dr. Johnny Sins </h4>
                                    <span style="font-size: 17px;">He aumentado el numero de persona a las cuales puedo
                                        ofrecer mis servicos</span>
                                    <span class="mt-4 gap-3"><i class="fa-solid fa-star"></i><i
                                            class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                            class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></span>
                                </div>
                            </div>
                        </div>
                        <!-- TARJETA REVIEW START -->
                        <div class="rv-box">
                            <div class="rv-body shadow-lg rounded-4">
                                <div class="rv-img "><img src="/assets/home/imgs/usrsrv/usrangela.png" alt=""></div>
                                <div
                                    class="d-flex fontpoppins justify-content-center flex-column justify-content-center py-5 mx-3">
                                    <h4 class="pt-5">Angela white</h4>
                                    <span style="font-size: 17px;">En la industria de la actuación necesitamos
                                        profesionales altamente calificados y en bemelly los he podido encontrar</span>
                                    <span class="mt-4 gap-3"><i class="fa-solid fa-star"></i><i
                                            class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                            class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></span>
                                </div>
                            </div>
                        </div>
                        <!-- TARJETA REVIEW START -->
                        <div class="rv-box">
                            <div class="rv-body shadow-lg rounded-4">
                                <div class="rv-img "><img src="/assets/home/imgs/usrsrv/usrhope.png" alt=""></div>
                                <div
                                    class="d-flex fontpoppins justify-content-center flex-column justify-content-center py-5 mx-3">
                                    <h4 class="pt-5">Esperanza Gomez</h4>
                                    <span style="font-size: 17px;">Sin duda al 2022 ya hacia falta una app como
                                        bemelly</span>
                                    <span class="mt-4 gap-3"><i class="fa-solid fa-star"></i><i
                                            class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                            class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- SEGUNDA FILA DE REVIEWS -->
                    <div class="d-flex flex-wrap justify-content-around container-md mt-5 py-5">
                        <!-- TARJETA REVIEW START -->
                        <div class="rv-box ">
                            <div class="rv-body shadow-lg rounded-4">
                                <div class="rv-img"><img src="/assets/home/imgs/usrsrv/usrmia.png" alt=""></div>
                                <div
                                    class="d-flex fontpoppins justify-content-center flex-column justify-content-center py-5 mx-3">
                                    <h4 class="pt-5">Mia Khalifa</h4>
                                    <span style="font-size: 17px;">Desde que deje de actuar en telenovelas me costo
                                        conseguir quien me maquille, pero en bemelly eso se acabo</span>
                                    <span class="mt-4 gap-3"><i class="fa-solid fa-star"></i><i
                                            class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                            class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></span>
                                </div>
                            </div>
                        </div>
                        <!-- TARJETA REVIEW START -->
                        <div class="rv-box">
                            <div class="rv-body shadow-lg rounded-4">
                                <div class="rv-img "><img src="/assets/home/imgs/usrsrv/usrjordi.png" alt=""></div>
                                <div
                                    class="d-flex fontpoppins justify-content-center flex-column justify-content-center py-5 mx-3">
                                    <h4 class="pt-5">Jordi ENP</h4>
                                    <span style="font-size: 17px;">Nuestros clientes esta muy contentos con el sistema
                                        de reserva, gracias a bemelly podemos ofrecer rapidamente nuestros
                                        servicios</span>
                                    <span class="mt-4 gap-3"><i class="fa-solid fa-star"></i><i
                                            class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                            class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></span>
                                </div>
                            </div>
                        </div>
                        <!-- TARJETA REVIEW START -->
                        <div class="rv-box">
                            <div class="rv-body shadow-lg rounded-4">
                                <div class="rv-img "><img src="/assets/home/imgs/usrsrv/usrmike.png" alt=""></div>
                                <div
                                    class="d-flex fontpoppins justify-content-center flex-column justify-content-center py-5 mx-3">
                                    <h4 class="pt-5">Mike Adriano</h4>
                                    <span style="font-size: 17px;">Los hombres también hemos empezado a tener cuidado
                                        personal, con bemelly puedo saber que procedimiento hacerme muy facil</span>
                                    <span class="mt-4 gap-3"><i class="fa-solid fa-star"></i><i
                                            class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                            class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="border-top bg-light bg-gradient d-flex justify-content-evenly py-3 flex-wrap">
        <div>© 2022 Bemelly SAS</div>
        <div class="text-secondary">
            Startup - Developed with ♥ by Fabian - Jhon - Juan - Manuel - Paola</div>
        <div>Bogotá D.C. Colombia</div>
    </div>
</body>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Nos encanta tenerte de vuelta</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <iframe class="embed-responsive-item" scrolling="no" src="/users/login" style="border:none; width: 100%; height: 300px;" frameborder="0"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary text-white">Entrar</button>
            </div>
        </div>
    </div>
</div>
