<header class="d-flex gap-3 container-fluid justify-content-between bg-light py-3 border-bottom border-2 align-items-center">
    <div class="logo">
        <img class="bi me-2 bemelly" height="40" role="img" src="/assets/bemelly.svg" alt="">
    </div>
    <div class="search-bar input-group  rounded-pill "><input type="text" class="form-control"
            placeholder="Buscar un servicio, lugar o profesional" aria-label="Recipient's username"
            aria-describedby="button-addon2">
        <button class="btn btn-primary text-white" type="button" id="button-addon2">Buscar</button>
    </div>
    <div class="profile">
        <img class="rounded-circle " src="/assets/users/profilepictures/wildysp.jpg" width="50px" alt="">
    </div>
</header>
<div class="filtro d-flex justify-content-around bg-light border-bottom py-2">
    <div class="px-5 fw-semibold rounded bg-primary text-white shadow">Domicilio</div>
    <div class="px-5 text-secondary">Ir al lugar</div>
</div>
<div class="result gap-2  d-flex flex-wrap justify-content-evenly mt-3">
    <!-- Inicio tarjeta resultado -->
    <div class="card mb-3 shadow" style="max-width: 500px;">
        <div class="row g-0">
          <div class="col-md-4">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="/assets/users/imgservices/corte.png" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="/assets/users/imgservices/corte.png" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="/assets/users/imgservices/corte.png" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Susana Horia <span>Estrellas</span></h5>
              <p class="card-text">Experta en maquillaje, uñas, plachado, secado</p>
              <p class="card-text"><small class="text-muted">Servicios realizados: 1200</small></p>
            </div>
          </div>
        </div>
      </div>
    <!-- Finaliza tarjeta resultado -->
        <!-- Inicio tarjeta resultado -->
        <div class="card mb-3 shadow" style="max-width: 500px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/assets/users/imgservices/corte.png" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Susana Horia <span>Estrellas</span></h5>
                  <p class="card-text">Experta en maquillaje, uñas, plachado, secado</p>
                  <p class="card-text"><small class="text-muted">Servicios realizados: 1200</small></p>
                </div>
              </div>
            </div>
          </div>
        <!-- Finaliza tarjeta resultado -->
    <!-- Inicio tarjeta resultado -->
    <div class="card mb-3 shadow" style="max-width: 500px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/assets/users/imgservices/corte.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Susana Horia <span>Estrellas</span></h5>
              <p class="card-text">Experta en maquillaje, uñas, plachado, secado</p>
              <p class="card-text"><small class="text-muted">Servicios realizados: 1200</small></p>
            </div>
          </div>
        </div>
      </div>
    <!-- Finaliza tarjeta resultado -->
</div>
