<div class="fixed-top" id="progressvar" [style]='visible'><mat-progress-bar mode="query"></mat-progress-bar></div>

<header class="d-flex gap-3 container-fluid justify-content-between bg-light py-3 border-bottom border-2 align-items-center">
    <div class="logo">
        <img  class="bi me-2 bemelly" height="40" role="img" src="/assets/bemelly.svg" alt="">
    </div>
    <!-- <div class="search-bar input-group  rounded-pill "><input type="text" class="form-control"
            placeholder="Buscar un servicio, lugar o profesional" aria-label="Recipient's username"
            aria-describedby="button-addon2">
        <button class="btn btn-primary text-white" type="button" id="button-addon2">Buscar</button>
    </div> -->
    <div class="profile gap-2 d-flex align-items-center">
        <div >Hola, <strong >{{user.name}}</strong></div>
        <div >
            <div class="avatar d-flex align-items-center" [matMenuTriggerFor]="menu" >
                <img  class="rounded-circle" [src]="profile?.photoProfile || defaultAvatar" width="50px" height="50px" alt="">
                <mat-icon>more_vert</mat-icon>
            </div>
            
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="fileInput.click()">Cambiar foto</button>
                <input type="file" #fileInput hidden name="filename" id="myFile" (change)="changephoto($event)" accept="image/*">
                <button mat-menu-item (click)="editProfile()">Editar perfil</button>
                <!-- <button mat-menu-item>Ver reservas</button> -->
                <button mat-menu-item (click)="logout()">Cerrar sesion</button>
            </mat-menu>
        </div>
            
    </div>
</header>