<header class="d-flex gap-3 container-fluid justify-content-between bg-light py-3 border-bottom border-2 align-items-center">
    <div class="logo">
        <img class="bi me-2 bemelly" height="40" role="img" src="/assets/bemelly.svg" alt="">
    </div>
    <div class="search-bar input-group  rounded-pill "><input type="text" class="form-control"
            placeholder="Buscar un servicio, lugar o profesional" aria-label="Recipient's username"
            aria-describedby="button-addon2">
        <button class="btn btn-primary text-white" type="button" id="button-addon2">Buscar</button>
    </div>
    <div class="profile">
        <img class="rounded-circle " src="/assets/users/profilepictures/wildysp.jpg" width="50px" alt="">
    </div>
</header>