
li{
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    font-size: 20px;
    margin-top: 15px;
}

.box1{
    text-align: center;
}

img{
    width: 100%;
    padding: 5px;
}


