<p>profile works!</p>

<body>


    <!-- Heading -->
    <div class="container" style="border: 5px solid;">
    <div class="row">
        <div class="box2 col-sm-12 col-md-12 col-lg-8">
            <div class="row" style="border: 1px solid;">
                <div class="col-sm-12 col-md-12 col-lg-3" style="border: 1px solid;;">
                    <img src="https://vimcare.com/assets/empty_user-e28be29d09f6ea715f3916ebebb525103ea068eea8842da42b414206c2523d01.png" alt="">
                </div>
                <div class="col-sm-12 col-md-12 col-lg-9" style="border: 1px solid;;">
                    <div class="box1 col-sm-12 col-md-12 col-lg-4">
                    <ul>
                        <li>ID</li> 
                        <li>Name</li>
                        <li>Age</li>      
                    </ul>
                    </div>
                </div>
            </div>
            <br>
    <div class="container" style="border: 1px solid;" >
            <div class="row" style="border: 1px solid; justify-content:center">
                <div class="col-sm-12 col-md-12 col-lg-12"style="text-align:center;">
                    <h1>Agenda tu cita</h1>
                </div>
    
            <div class="row" style="padding: 0px;">
                <div class="col-sm-12 col-md-12 col-lg-4" >
                    <div class="custom-select" style="width: 180px; border: 1px solid;">
                        <select>
                          <option value="0">Razon de visita</option>
                          <option value="1">Cabello</option>
                          <option value="2">Cejas</option>
                          <option value="3">Depilacion</option>
                          <option value="4">Tratamiento facial</option>
                          <option value="5">Tratamiento corporal</option>
                          <option value="6">Masage</option>
                          <option value="7">Consulta</option>
                        </select>
                      </div>
                </div>
    
    
                <div class="col-sm-12 col-md-12 col-lg-4">
                    <div class="custom-select" style="width:180px; border: 1px solid;">
                        <select>
                          <option value="0">Hora</option>
                          <option value="0.5">9:00</option>
                          <option value="1">9:30</option>
                          <option value="2">10:00</option>
                          <option value="3">10:30</option>
                          <option value="4">11:00</option>
                          <option value="5">11:30</option>
                          <option value="6">12:00</option>
                          <option value="7">12:30</option>
                          <option value="0">13:00</option>
                          <option value="1">13:30</option>
                          <option value="2">14:00</option>
                          <option value="3">14:30</option>
                          <option value="4">15:00</option>
                          <option value="5">15:30</option>
                          <option value="6">16:00</option>
                          <option value="7">16:30</option>
                          <option value="7">17:00</option>
                        </select>
                      </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4">
                    <div class="custom-select" style="width:180px; border: 1px solid;">
                        <select>
                          <option value="0">Sede</option>
                          <option value="1">Rosales</option>
                          <option value="2">Chapinero</option>
                          <option value="3">Cedritos</option>
                          <option value="4">El retiro</option>
                          <option value="5">Salitre</option>
                        </select>
                      </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4">    
                </div>
            </div>    
        </div>
    </div>
    </div>
        <div class="box2 col-sm-12 col-md-12 col-lg-4" style="border: 1px solid; text-align: center;">
            <h2 style="padding: 15px;">Promociones</h2>    
        </div>
    </div>
    </div>


    <script src="profile.js"></script>
    </body>