<div class="container p-5">
  <div class="row justify-content-center d-flex">
    <div class="col-sm-12 col-md-12 col-lg-9 shadow-lg rounded">
      <div class="row">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <div class="row d-flex justify-content-center">
                <div class="col-sm-12 col-md-12 col-lg-3">
                  <img
                    [src]="user.photoProfile"
                    alt=""
                    style="border-radius: 50%"
                  />
                </div>
              </div>
              <br />
            </div>
            <div class="box2 ms-5 col-sm-12 col-md-12 col-lg-12">
              <div>
                <h3>name</h3>
                <input
                  class="input p-2 rounded"
                  type="text"
                  [value]="user.name"
                  [(ngModel)]="modification.name"
                />
              </div>

              <div>
                <h3>Document</h3>
                <h2>{{ user.CC }}</h2>
              </div>
              <div>
                <h3>Email</h3>
                <input
                  class="input p-2 rounded"
                  type="text"
                  [value]="user.email"
                  [(ngModel)]="modification.email"
                />
              </div>
              <div>
                <h3>Role</h3>
                <h2>{{ user.role }}</h2>
              </div>
            </div>

            <div class="d-flex justify-content-center my-5">
              <button class="btn boton px-5" (click)="modifyUser()">
                Guardar cambios
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="realizado border border-primary rounded p-5 text-center"
  [class.active]="showModal"
>
  <h1>Los cambios han sido realizados</h1>
  <h3>Cierra sesion y vuelve a iniciar para ver los cambios</h3>
  <button (click)="toggleModal()" class="btn btn-primary">Cerrar</button>
</div>
