@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

$colorprincipal: #A53DFF;
$blanco: #ffff;
$negro: #0000;
$softext: #556070;

$primary:$colorprincipal;
$hover-color: white;
$color:$blanco;
$circlesize: 1200px;


@import "/node_modules/bootstrap/scss/bootstrap.scss";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
