<div class="vh-100">
  <div
    class="d-flex polka gap-3 flex-wrap justify-content-center fondogradient"
  >
    <div class="card mt-5" *ngFor="let usuario of usuarios">
      <div class="card-body" (click)="showPublication(usuario.CC)">
        <div class="user d-flex gap-2 p-2">
          <img
            class="rounded-circle"
            [src]="usuario?.photoProfile || defaultAvatar"
            width="55px"
            alt=""
          />
          <div class="puntuacion">
            <div>{{ usuario.name }}</div>
            <div>
              <strong>{{ usuario.stars }}</strong>
            </div>
            <div class="text-seconday fw-lighter" style="font-size: 11px">
              {{ usuario.servicesCompleted }} servicios completados
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
