.fondogradient {
  background-attachment: fixed;
  background: rgb(240, 240, 240);
}

.card {
  max-width: 400px;
  border: 1px solid black;
  box-shadow: 1px 5px 30px #a53dff;
}
.polka {
  background-image: radial-gradient(rgb(214, 214, 214) 10.8%, transparent 10.8%),
    radial-gradient(rgb(216, 216, 216) 10.8%, transparent 10.8%);
  background-position: 0px 0px, 12px 12px;
  background-size: 24px 24px;
  background-color: rgb(255, 255, 255);
  padding-bottom: 100px;
}
.user {
  img {
    object-fit: cover;
  }
}
